---
// import LegalLinks from "@/landings/legal/sections/LegalLinks/LegalLinks.astro";
import type { LANGUAGE } from "@global-shared/translations/domain/languages";
import LanguageSelector from "@/components/LanguageSelector/LanguageSelector.astro";
import type { CollectionKey } from "astro:content";
import { collections } from "@/content/config";
import { getCollection } from "astro:content";
import { getSlugWithLang } from "@global-shared/translations/utils/getSlugWithLang";
import type { SharedContext } from "@/common/astro";

type Props = SharedContext;

const { language, id, ref, collection } = Astro.props;
---

<footer class="o-footer">
  <h2>cambio de idioma</h2>
  <LanguageSelector {...Astro.props} />
  <pre>
    {JSON.stringify(
      {
        language,
        id,
        ref,
        collection,
      },
      null,
      2
    )}
  </pre>
  <!-- <LegalLinks language={language}  /> -->
</footer>
