---
import Nav from "../Nav/Nav.astro";
import { getEntry } from "astro:content";
import type { Data } from "@/common/astro";
import type { SettingEntry } from "@/common/infrastructure/sanity-settings-collection";
import { phone_html } from "@/assets/icons/html/contact-methods-elements";
import type { LANGUAGE } from "@global-shared/translations/domain/languages";
import { DEFAULT_LANGUAGE } from "@global-shared/translations/domain/languages";
import { getCollection } from "astro:content";

type Props ={
    language?: LANGUAGE;
}

const { language = DEFAULT_LANGUAGE } = Astro.props;

const collection = await getCollection("settings") as Data<SettingEntry>[];

let data;

if (collection.length > 0) {
    data = collection[0].data;
}

---
{data?.phone &&
    <a href={`tel:+34${data.phone?.split(" ").join("")}`} class="sidebar__phone" data-phone-button set:html={phone_html} />
}

<button class="m-button button--primary" id="sidebar-button-contact" data-button-contact>
    Contacto
</button>
<button data-open-sidebar class="sidebar__burger button-empty">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="67" fill="none"
        ><path
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="3.278"
            d="M47.855 43.99H17.7M47.855 33.5H17.7M47.855 23.01H17.7"
        ></path></svg
    >
</button>
<aside class="c-sidebar">
    <div class="m-sidebar">
        <button data-close-sidebar class="sidebar__close button-empty">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="33"
                fill="none"
                ><path
                    fill="#fff"
                    fill-rule="evenodd"
                    d="M32 16.5c0 8.837-7.163 16-16 16s-16-7.163-16-16S7.163.5 16 .5s16 7.163 16 16Zm-20.849-4.849a1.2 1.2 0 0 1 1.697 0L16 14.803l3.151-3.152a1.2 1.2 0 1 1 1.698 1.697L17.697 16.5l3.151 3.151a1.2 1.2 0 1 1-1.697 1.698L16 18.197l-3.152 3.152a1.2 1.2 0 0 1-1.697-1.698l3.152-3.151-3.152-3.152a1.2 1.2 0 0 1 0-1.697Z"
                    clip-rule="evenodd"></path></svg
            >
        </button>
        <Nav />
        <div class="sidebar__overlay"></div>
    </div>
</aside>

<script>
    const sidebar = document.querySelector(".m-sidebar") as HTMLDivElement;
    const closeButton = document.querySelector(
        "[data-close-sidebar]",
    ) as HTMLButtonElement;
    const phoneButton = document.querySelector(
        "[data-phone-button]",
    ) as HTMLButtonElement;
    const burgerButton = document.querySelector(
        "[data-open-sidebar]",
    ) as HTMLButtonElement;

    burgerButton.addEventListener("click", () => {
        sidebar.classList.add("sidebar--open");
        document.body.style.overflow = "hidden";
        burgerButton.style.opacity = "0";
        burgerButton.style.pointerEvents = "none";
    });

    closeButton.addEventListener("click", () => {
        sidebar.classList.remove("sidebar--open");
        document.body.style.overflow = "auto";
        burgerButton.style.opacity = "1";
        burgerButton.style.pointerEvents = "auto";
    });
</script>
