.slide-up {
	transform: translateY(200px);
	opacity: 0;
	animation: slide-up-speed 2s ease forwards ;
}

.opacity {
	opacity: 0;
}

.s05{
	animation-delay: 0.5s;
}

.s1{
	animation-delay: 1s;
}

.s11{
	animation-delay: 1.5s;
}

.s2{
	animation-delay: 2s;
}

.s22{
	animation-delay: 2.5s;
}

.s3{
	animation-delay: 3s;
}

.s33{
	animation-delay: 3.5s;
}

.s4{
	animation-delay: 4s;
}

.s44{
	animation-delay: 4.5s;
}

@keyframes origin-position {
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slide-up-speed {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes out {
	to {
		transform: translate(100%, 0);
		opacity: 0;
	}
}

