@use "../../styles/settings/variables";


@mixin white-gradient {
  content: "";

  position: absolute;
  z-index: 2;
  top: 0;

  width: 200px;
  height: 100px;
}



.o-carousel-brands {
  position: relative;
  height: 120px;
  margin-top: var(--spacing-atom);
  margin-bottom: calc(var(--spacing-atom) * 3);

  @media (width >= 769px) {
    margin-bottom: 0;
  }



}

.c-carousel-brands {
  @include variables.boxed-container;

}


.carousel-brands__title{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 0.5rem;
  align-items: center;

  margin-bottom: calc(var(--spacing-atom) * 3);

  font-size: var(--fs-text-regular);
  font-weight: bold;
  color: var(--c-dark);
  text-align: center;

  @media (width >= 769px) {
    margin-bottom: calc(var(--spacing-atom) * 2);
  }

}


.carousel-brands__title::before,
.carousel-brands__title::after{
    content: "";
    display: block;
    height: 2px;
    background-color: var(--c-orange);
}

.carousel-brands__content {
  position: absolute;
  left: 0;

  overflow: hidden;

  width: 100%;
  margin: auto;

  &::after {
    @include white-gradient;

    right: 0;
    background: linear-gradient(to left, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
  }

  &::before {
    @include white-gradient;

    left: 0;
    background: linear-gradient(to right, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
  }

  .carousel-brands__list {
    display: flex;
    gap: var(--spacing-column-gap);
    width: 200vw;

    &::after {
      @include white-gradient;

      right: 0;
      background: linear-gradient(to left, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
    }

    &::before {
      @include white-gradient;

      left: 0;
      background: linear-gradient(to right, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
    }
  }

}

.carousel-brands__img{
  width: auto;
  height: 60px;
  filter: grayscale(100%);

  @media (width >= 769px) {
    height: 44px;
  }

}
