@use "../../settings/variables";

.a-list {
	list-style: none;

	&--goals{
		padding: 0;
		list-style: none;
	}
}

.a-item__city{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: variables.$spacing-s;
}