@use "../settings/variables";

@mixin device-column {
	@media (width <= 1000px) {
		display: flex;
		flex-direction: column;
	}
}

@mixin list-align {
	li {
		align-self: center;
		padding: 0 1em;
		text-align: right;

		a, p, span, img {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}

.list-clean {
	padding: 0;
	list-style: none;

	@include list-align;
}

.list-horizontal {
	display: flex;
	list-style: none;

	@include list-align;
}

.flex{
	&-row{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		@include device-column;
	}

	&-space-between{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include device-column;
	}

	&-center{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-center--column{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&-center--vertical{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
}