@use "../settings/variables";

.scroll-container{
	cursor: e-resize;
	scroll-behavior: smooth;
}

.scroll-table{
	overflow: auto hidden;

	table{
		min-width: 800px;
	}

}

.wrapper__slider{
	scroll-behavior: smooth;

	overflow: hidden visible;
	display: block;

	width: 100vw;
	min-width: variables.$width-tablet;
}

.scroll-container__content{
	display: flex;
	justify-content: flex-start;
	height: 100%;
	padding-bottom: variables.$spacing;

	> div {
		flex-shrink:0;
	}
}

.scroll-container__native{
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;

	overflow-x: scroll;
	display: flex;
	justify-content: flex-start;

	height: 100%;
	padding: 0;
	&::-webkit-scrollbar {display: none;}

	> div {
		scroll-snap-align: center;
		flex-shrink:0;
	}
}

.scroll-container__item{
	margin: 0 0 0 2em;
}
