@use "../../styles/settings/variables";



.o-hero-post{
    background-color: var(--c-background-color);
    color: var(--c-text-color);


    padding-top: calc(var(--spacing-section) * 2);
    margin-bottom: var(--spacing-section);

    // media
    @media (min-width: variables.$width-tablet) {
        padding-top: var(--spacing-section);
        margin-bottom: var(--spacing-section);
    }
  
}

.c-hero-post{
  @include variables.boxed-container;
  font-size: 1em;

  .a-title{
    word-wrap: break-word;      
    overflow-wrap: break-word;   
    word-break: break-word;      
    text-overflow: ellipsis;   
    max-width: 100%; 
  }

  .hero-post__media-canvas{
    width: 100%;

  }

  video, img{
    width: 100%;
    height: auto;
  }

  
  .hero-post__copy{
    font-family: variables.$ff-bold;
  }

  display: flex;
  flex-direction: column;
  gap: 2lh;
  justify-content: center;

  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 4em;
    padding-top: var(--spacing-section);
    height: fit-content;
  }
}

.c-hero-post--landscape{
    @media (min-width: variables.$width-tablet) {
        display: flex;
        flex-direction: column;
        gap: 2lh;
        justify-content: center;
        align-items: start;

      }
}

.hero-post__info{
    display: flex;
    flex-direction: column;
    gap: 1lh;
}

.hero-post__title{
    font-family: variables.$ff-bold;
    font-size: 1rem;
}

.hero-post__author{
    font-family: variables.$ff-bold;
    font-size: 1em;
}

@media (min-width: variables.$width-tablet) {
  .hero-post__title, .hero-post__copy{
    font-size: 1.5rem;
  }

  .c-hero-post{
    video{
      object-fit: cover;
      object-position: center center;
      aspect-ratio: 16/9;
    }
  }

}