$_black: #131313;
$_white: #FFFFFF;


$c-white: $_white;
$c-black: $_black;

$c-success: #36b582;
$c-warning: #baae4b;
$c-danger: #ac4242;
$c-info: #185ea2;

:root {
	--c-light: #{$c-white};
	--c-white: #{$c-white};
	--c-dark: #{$c-black};
	--c-black: #{$c-black};
	--c-background: #{$c-white};
	--c-focus: #{$c-white};
	--c-gray-dark: #c0c0c0;
	--c-gray-light: #E9E9E9;
	--c-success: #{$c-success};
	--c-danger: #{$c-danger};
}

@mixin focus-is-dark {
	&:focus {
		outline: 3px solid $c-primary;
		outline-offset:5px;
	}

	&:focus-visible{
		box-shadow: none;
	}
}