@use "./layout";



$font-family: "whyte-regular", "Gill Sans MT", calibri, "Trebuchet MS", sans-serif;

$ff-normal: "whyte-regular", "Gill Sans MT", calibri, "Trebuchet MS", sans-serif;
$ff-bold: "whyte-bold";


$ff-italic: "whyte-italic";
$ff-light: "whyte-light";
$ff-regular: "whyte-regular";
:root {
	--line-height: 1;
	--fs-title-l: 1em;
	--fs-title-m: 2em;
	--fs-title-s: 3em;
	--fs-text-large: 1.2em;
	--fs-text-regular: 1em;
	--fs-text-small: 0.85em;
	--fs-menu: 0.9em;
	--fs-hero: 1em;
	--fs-title-section: var(--fs-title-m);
	--fs-text-button: 1rem;
	--fs-text-input: 1em;

	--fs-base: clamp(0.95rem, 3.5vw, 1.25rem);
	
	@media (min-width: layout.$width-change-scale-typography) {
		--fs-base: clamp(1.1rem, 1.3vw, 1.375rem);
		--fs-title-section: 2.1em;
	}

	@media (min-width: layout.$width-freeze-boxed) {
		--fs-base: 1.375rem;
	}
}


@mixin fs-title-l{
  margin-top: 1em;
	font-family: $ff-normal;
	font-size: var(--fs-title-l);

}

@mixin fs-title-m{
  margin-top: 1em;
	font-family: $ff-normal;
	font-size: var(--fs-title-m);

}

@mixin fs-title-s{
  margin-top: 1em;
	font-family: $ff-normal;
	font-size: var(--fs-title-s);

}

@mixin fs-text-large{
	font-family: $ff-normal;
	font-size: var(--fs-text-large);
}

@mixin fs-text{
	font-family: $ff-normal;
	font-size: var(--fs-text-regular);
}

@mixin fs-text-small{
	font-family: $ff-normal;
	font-size: var(--fs-text-small);
}

@mixin headings{
  h1, .h1{
    @include fs-title-l;
  }

  h2, .h2{
    @include fs-title-m;
  }

  h3, .h3{
    @include fs-title-s;
  }
}