---
import ImageOptimized from "@/common/modules/ImageOptimized.astro";
import { getFirstPhoto } from "@/common/sanity/getOptimizedImage";
import { getOptimizedImage } from "@/common/sanity/getOptimizedImage";
import type { AuthorEntry } from "@/contexts/Blog/infraestructure/sanity-author-blog-collection";

type Props = AuthorEntry;

const { _id, name, author, image, bio } = Astro.props as Props;
---

<section class="hero-author">
  <div class="hero-author__container">
    <div class="hero-author__content">
      <h1 class="hero-author__title">
        <span class="hero-author__title-main">{name}</span>
        <span class="hero-author__title-highlight">DESIGNER</span>
      </h1>
      <p class="hero-author__description">
        {bio}
      </p>
      <div class="hero-author__badges">
        <div class="badge badge--ux">UI/UX</div>
        <div class="badge badge--user">USER EXPERIENCE DESIGN</div>
      </div>
    </div>
    <div class="hero-author__image">
      <div class="hero-author__image-wrapper">
        <img
          src="https://www.appdavivienda.com/productos/images/mi-perfil/miPerfil-bnn.png"
          alt="Designer portrait"
          class="hero-author__portrait"
        />
      </div>
    </div>
  </div>
</section>
