---
import { calendar_svg, marker_svg, phone_svg } from "./elements-popup";
import { getCollection, getEntry } from "astro:content";
import type { Data } from "@/common/astro";
import type { SettingEntry } from "@/common/infrastructure/sanity-settings-collection";

const collection = await getCollection("settings") as Data<SettingEntry>[];

let data;

if (collection.length > 0) {
    data = collection[0].data;
}

---
<ul class="m-contact-methods">
    {data?.phone &&
        <li>
            <a href={`tel:${data.phone.split(" ").join("")}`} class="contact-methods__item contact-methods__phone">
                <span class="contact-methods__point" set:html={phone_svg} />
                {data.phone}
            </a>
        </li>
    }
</ul>
