---
interface Props {
    name: string;
}

const { name } = Astro.props;

---
<div class="form__toggle">
    <input
            type="checkbox"
            id={`lopd__${name}`}
            name="lopd"
            class="toggle__input"
    />
    <label for={`lopd__${name}`} class="toggle__label">
            <span
                    class="toggle__switch"
                    role="switch"
                    tabindex="0"
                    aria-checked="false" />Acepto el tratamiento de datos para enviar comunicaciones comerciales
    </label>
</div>
<div class="form__toggle">
    <input
            type="checkbox"
            id={`privacyPolicy__${name}`}
            name="privacyPolicy"
            class="toggle__input"
            required
    />
    <label for={`privacyPolicy__${name}`} class="toggle__label">
            <span
                    class="toggle__switch"
                    role="switch"
                    tabindex="0"
                    aria-checked="false" />
        Acepto la
        <a href="/politica-de-privacidad/" target="_blank">
            {" "}
            política de privacidad
        </a>
    </label>
</div>
