@use "../../../../styles/settings/variables";


$_break: 768px;

body:has(.o-popup[open]) {
  overflow: hidden;

  .overlay{
    display: block;
  }
}


.o-popup {
  scrollbar-width: none;

  position: fixed;
  scale: 0;

  display: none;
  grid-template-columns: 1fr;

  width: 90%;
  max-width: var(--boxed-docuemnts);
  padding: 0;

  font-size: var(--fs-dialog);

  background: var(--c-white, #FFF);
  border: none;
  border-radius: 24px;

  transition: scale .3s ease, display .3s ease allow-discrete;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::backdrop {
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
  }

  &[open] {
    scale: 1;
    display: grid;

    @starting-style {
      scale: 0;
    }

  }

  .a-title{
    font-size:1em;

    @media (min-width: $_break) {
      font-size: 1.4em;
    }
  }

  @media (min-width: $_break) {
    grid-template-columns: .6fr 1fr;
  }
}

.c-popup {
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  padding: 1lh 0;

}

.popup__content {
  padding: var(--spacing-atom);
  text-wrap: pretty;

  > * {
    margin-bottom: var(--spacing-atom);
  }
}

.popup__details{
  font-size: .9em;
  line-height: 1em;

  li{
    font-size: .9em;
    line-height: 1em;

    + li{
      margin-top: .5lh;
    }
  }
}

.popup__close {
  cursor: pointer;

  position: fixed;
  z-index: 3;
  top: 16px;
  right: 16px;

  aspect-ratio: 1/1;
  width: 24px;
  height: 24px;
  padding: 4px;

  color: var(--c-white);

  background: var(--c-primary-orange);
  border: none;
  border-radius: 50%;

  transition: .3s;

  &:hover {
    background: var(--c-gray-dark);
  }
}

.popup__close-icon{
  width: 100%;
  height: 100%;
}

.popup__c-image {
  position: relative;

  overflow: hidden;
  display: none;

  width: 100%;
  height: 240px;

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    inset: 0;

    opacity: 0.6;
    background: #494948;
  }

  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    right: -25%;
    bottom: -25%;

    width: 125%;
    height: 125%;

    opacity: 0.7;
    background: radial-gradient(circle at bottom right, var(--c-primary-orange), transparent 60%, transparent);
  }


  @media(height >= 700px), (min-width: $_break) {
    display: block;
  }

  @media (width <= $_break) and (height >= 700px)  {
    height: 240px;
  }

  @media (min-width: $_break) {
    height: 100%;
  }
}

.popup__image {
  z-index: 0;


  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 20% 20%;

}

.popup__copy {
  width: 100%;

  .a-title + * {
    margin-top: .5lh;
    margin-bottom: .5lh;
  }
}

.popup__phone {
  display: flex;
  flex-direction: row;
  gap: .5em;
  align-items: center;

  width: 100%;
  margin-top: 1lh;
  margin-bottom: 1lh;
  margin-inline: auto;

  font-family: variables.$ff-bold;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  color: var(--c-black, #080808);
  text-decoration-line: underline;

  &:hover {
    color: var(--c-orange);
  }

  @media (min-width: $_break) {
    font-size: 1.4em;
  }
}