@use "../../styles/settings/variables";

$break-sidebar: 1024px;

.l-auto{
  padding-bottom: 100px; /* el fixed footer */
  .o-header{
    position: relative;
    background: var(--c-gray-dark);
  }

  @media (min-width: $break-sidebar) {
    padding-bottom: 0;
  }
}