

.l-Category{
    .o-hero-basic{
        @media (min-width: 768px) {
            margin-bottom: -6em;
             height: 70vh;
        }
    }
    .c-section-grid-post{

        .a-title{
            display: none ;
        }
    }
    

}