
.l-Post{
    p{
       margin: 1lh auto;
        line-height: 1lh;
        font-size: 1em;
    }

    ul,ol{
        margin: 1lh auto;
        line-height: 1lh;

        li::marker{
            color: var(--c-primary);
            font-weight: 600;
            font-size: 2rem;
        }
    }

    .image-markdown{
        margin: 2lh auto;
        max-width: 100%;
        width: 100%;
        height: auto;

    }
    .link-markdown{
        color: var(--c-primary);
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover{
            color: var(--c-primary-dark);
            text-decoration: underline;
        }
    }
}