@use "../../styles/settings/variables";

:root{
  --width-list-product: 100%;
}

.c-list-products {
  @include variables.boxed-container;

  margin-top: var(--spacing-row-gap);
  margin-bottom: var(--spacing-row-gap);

  @media (min-width: variables.$width-desktop) {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr);
    gap: 16px;

  }
}

.list-products__toolbar{
  overflow: hidden auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;

  width: 100%;
  max-width: 100%;
  &::-webkit-scrollbar {display: none;}
}

.list-products__results{
  width: 100%;
  height: 100%;

  .list-products__toolbar{
    margin-bottom: 16px;
  }
}