@use "../settings/variables";

.space {
	margin: 0 0 0 0.5em;
}

.p0{
	padding: 0;
}

.m0{
	margin: 0;
}

.p {
	padding: variables.$spacing;
}

.p-horizontal{
	padding: 0 variables.$spacing;
}

.p-vertical{
	padding-top:  variables.$spacing;
	padding-bottom:  variables.$spacing;
}

.p-top{
	padding-top: variables.$spacing;
}

.p-bottom{
	padding-bottom: variables.$spacing;
}

.p-left{
	padding-left:  variables.$spacing;
}

.p-right{
	padding-right: variables.$spacing ;
}

.m{
	margin: variables.$spacing;
}

.m-horizontal{
	margin: 0 variables.$spacing ;
}

.m-vertical{
	margin-top:  variables.$spacing;
	margin-bottom:  variables.$spacing;
}

.m-top{
	margin-top: variables.$spacing;
}

.m-bottom{
	margin-bottom: variables.$spacing;
}

.m-left{
	margin-left: variables.$spacing;
}

.m-right{
	margin-right: variables.$spacing ;
}