@use "../../../styles/settings/variables";


.o-hero-basic{
    --c-background-color: var(--c-black);
    --c-text-color: var(--c-white);

    background-color: var(--c-background-color);
    color: var(--c-text-color);
    font-size: 1.5em;
    padding-top: var(--header-height);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;

    // media queries
    @media (min-width: 768px) {
        font-size: 1.2em;
        padding-top: 0;
    }


}
.c-hero-basic{

     @include variables.boxed-container;

     .a-title{
        text-align: center;
        margin-bottom: 1rem;
       }

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}