@use "../../../styles/settings/variables";


.o-hero-basic{
    --c-background-color: var(--c-black);
    --c-text-color: var(--c-white);

    background-color: var(--c-background-color);
    color: var(--c-text-color);
    font-size: 1.5em;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.c-hero-basic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}