---
import Layout from "@/sections/shared/Layout.astro";
import type { CollectionKey } from "astro:content";
import { getEntry } from "astro:content";
import type { Data } from "@/common/astro";
import type { HomeBlogEntry } from "@/contexts/Blog/infraestructure/sanity-home-blog-collection";
import { getMediaListOptimized } from "@/common/sanity/getOptimizedImage";
import HeroVideo from "@/sections/HeroVideo/HeroVideo.astro";
import SectionCarousel from "./sections/SectionCarousel/SectionCarousel.astro";

type Props = {
  _id: string;
};

const { _id } = Astro.props;

const collection: CollectionKey = "HomeBlog";

const { data } = (await getEntry(collection, _id)) as Data<HomeBlogEntry>;

// const shared = await getCollection("shared"); // las secciones de shared
---

<Layout collection={collection} _id={_id}>
  <HeroVideo {...data.hero} />
  <pre>
    {JSON.stringify(data, null, 2)} 
  </pre>

  {
    data.pageSections?.map((section) => {
      switch (section._type) {
        case "sectionCarouselPostFilter":
          return <SectionCarousel {...section} />;
        case "banner":
          return <h1>Banner</h1>;
        case "sectionBasic":
          return <h1>sectionBasic</h1>;
        default:
          // section reference = section._type es igual SharedSection
          return <h1>shared section {section}</h1>;
      }
    })
  }
</Layout>
