@use "../../styles/settings/variables";

.m-carousel-nav {
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: baseline;

	width: fit-content;
}

.carousel-nav__button, .slide-nav__button {
	cursor: default;

	display: inline-flex;

	padding: .8rem;

	background-color: transparent;
	border: 2px solid var(--c-black);
	border-radius: 100%;

	transition: .3s;

	svg path{
		fill: var(--c-black);
	}

	&:hover{
		color: var(--c-white);
		background: var(--c-black);
		border: 2px solid transparent;
		svg path{
			fill: var(--c-white);
		}
	}


	&:focus {
		outline-offset: 0;

	}

	&:first-child {
		margin-left: 0;
	}

	&--disable, &[disabled] {
		pointer-events: none;
		opacity: .5;
		background-color: var(--c-gray-light);
	}

}