

.o-section-container:has(.c-section-grid-product) {
    background-color: var(--c-light);

    .bg-lights{
        display: none;
    }
    
}
.c-section-grid-product{
    background-color: var(--c-white);
    color: var(--c-dark);
    
    padding-top: var(--spacing-section);
    padding-bottom: var(--spacing-section);

    .a-title{
        text-align: center;
        margin: 3rem 0;
    }
}


.c-section-grid-product-list {
    --gap: clamp(0.5rem, 2vw, 1.5rem);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--gap);

    .m-card-product {
          --c-text-color:  var(--c-dark);
         --c-background-color: transparent;
    }
}
  
