---
import Nav from "./Nav/Nav.astro";
import Sidebar from "./Sidebar/Sidebar.astro";
import { logo_html } from "@/assets/icons/html/company-elements";
import type { LANGUAGE } from "@global-shared/translations/domain/languages";
import { DEFAULT_LANGUAGE } from "@global-shared/translations/domain/languages";

type Props ={
    language?: LANGUAGE;
}

const { language = DEFAULT_LANGUAGE } = Astro.props;

---



<header class="o-header">
    <div class="c-header">
        <a href="/" class="header__logo" set:html={logo_html} />
        <Nav />
        <Sidebar language={language}/>
    </div>
</header>

<script>

    function setHeightMenu(){
        const headerElement = document.querySelector('.o-header') as HTMLElement;
        if (headerElement) {
            const headerHeight = headerElement.offsetHeight;
            document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);
        }
    }
    setHeightMenu()
    window.addEventListener('resize', setHeightMenu)
</script>