---
import { getCollection } from "astro:content";
import { getSlugWithLang } from "@/translations/modules/getSlugWithLang";
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/components/Welcome.astro";
import NavBar from "@/components/NavBar.astro";
import CarouselPost from "@/components/CarouselPost.astro";
// Esta función genera las rutas estáticas para cada página de `homeBlog`
export async function getStaticPaths() {
    const data = await getCollection("homeBlog");
    const dataPost = await getCollection("postBlog");

    const paths = data.map((page) => {

        const reference = page.data.ref;
        const dataOtherLangFiltered = data.filter((page) => page.data.ref === reference);

        const listLinks = dataOtherLangFiltered.map((page) => ({
            lang: page.data.lang,
            link: getSlugWithLang(page.data.slug, page.data.lang),
        }));
            
        return {
            params: {
                home: `${getSlugWithLang(page.data.slug, page.data.lang)}`,
            },
            props: {
                data: page.data,
                listLinks,
            },
        }
    }
    );
    console.log('Generated paths:', paths);
    return paths;
}

const { data, listLinks } = Astro.props;
const { home } = Astro.params;




---
<Layout>

<NavBar listLinks={listLinks}/>
<Welcome title={data.lang} />

<pre>
    <code>
        {JSON.stringify(data, null, 2)}
    </code>
</pre>


<h1>caorusel copy</h1>


<CarouselPost lang="es" categoryId="2f7c907f-041d-4fc3-83fd-ccf53345f803" authorId="79314c49-f26b-499f-9dbb-f2c7a3cb7811"/>



</Layout>
