---
import { getCollection } from "astro:content";
import { getSlugWithLang } from "@/translations/modules/getSlugWithLang";
import type { LANGUAGE, Languages } from "@/translations/domain/languages";
import Layout from "@/layouts/Layout.astro";
import SelectLang from "@/components/SelectLang.astro";
import Welcome from "@/components/Welcome.astro";
// Esta función genera las rutas estáticas para cada página de `homeBlog`
export async function getStaticPaths() {
    const homePages = await getCollection("homeBlog") ;

    console.log('Home pages:', homePages);  // Añadir un log para ver las páginas de `homeBlog`

    

    const paths = homePages.map((page) => ({
            params: {
                home: `${getSlugWithLang(page.data.slug, page.data.lang)}`,
            },
            props: {
                data: page.data,
            },
        })
    );
    console.log('Generated paths:', paths);  // Añadir un log para ver las rutas generadas


    return paths;
}

const { data } = Astro.props;
const { home } = Astro.params;

const lang = home.split("/")[0] as LANGUAGE;
console.log('Lang:', lang);  

const reference = data.refDoc._ref;

console.log('Reference:', reference);

const dataOtherLang = await getCollection("homeBlog");

const dataOtherLangFiltered = dataOtherLang.filter((page) => page.data.id === reference);


const linkOtherLang = getSlugWithLang(dataOtherLangFiltered[0].data.slug, dataOtherLangFiltered[0].data.lang);

const listLinks = dataOtherLang.map((page) => ({
    lang: page.data.lang,
    link: getSlugWithLang(page.data.slug, page.data.lang),
}));
console.log('List links:', listLinks);




---
<Layout>


 {
    listLinks.map((link) => (
        <a href={link.link}>{link.lang}</a>
        <br>
    ))
}


<Welcome title={data.lang} />

</Layout>
