---
import { getCollection } from "astro:content";
import { getSlugWithLang } from "@/translations/modules/getSlugWithLang";
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/components/Welcome.astro";
import NavBar from "@/components/NavBar.astro";
import CarouselPost from "@/components/CarouselPost.astro";
import CarouselBrands from "@/sections/CarouselBrands/CarouselBrands.astro";
// Esta función genera las rutas estáticas para cada página de `homeBlog`
export async function getStaticPaths() {
    const data = await getCollection("homeBlog");
    const dataPost = await getCollection("postBlog");

    const paths = data.map((page) => {

        const reference = page.data.ref;
        const dataOtherLangFiltered = data.filter((page) => page.data.ref === reference);

        const listLinks = dataOtherLangFiltered.map((page) => ({
            lang: page.data.lang,
            link: getSlugWithLang(page.data.slug, page.data.lang),
        }));
            
        return {
            params: {
                home: `${getSlugWithLang(page.data.slug, page.data.lang)}`,
            },
            props: {
                data: page.data,
                listLinks,
            },
        }
    }
    );
    console.log('Generated paths:', paths);
    return paths;
}

const { data, listLinks } = Astro.props;
const { home } = Astro.params;


const COMPONENTS_MAP = {
    "sectionCarouselPostFilter": CarouselBrands,
    "hero": CarouselBrands,
    "sectionReference": CarouselBrands,
}




---
<Layout>

<NavBar listLinks={listLinks}/>





<h1>caorusel copy</h1>

{data.pageSections.map((item) => {
    const Component = COMPONENTS_MAP[item?._type];

    return Component ? (
        <Component {...item} />
    ) : (
        <div>No component found for type: {item?._type || 'undefined'}</div>
    );
})}

</Layout>
