---
import Icon from "@/components/ui/Icon.astro";
---

<div>
  <h1>hola jost</h1>
  <Icon name="favicon" class="favicon_svg" />

  <style>
    body {
      font-family: "Inter", sans-serif;
      background-color: #111111;
      color: #333;
    }

    .favicon_svg {
      fill: red;
      height: 20px;
      width: 10px;
    }
  </style>
</div>
