---
import type { ApiResponse } from "@/common/shop";
import Icon from "@/components/ui/Icon.astro";

// haz un fetch a una api de prueba y muestra el resultado en un div

const response = await fetch(
  "https://shop.becareless.es/rest/bootstrap?with_all_images=1&menu_with_images=all"
);
const data = (await response.json()) as ApiResponse;
---

<pre>
  <code>
    {JSON.stringify(data.psdata.featuredProductsList[0], null, 2)}
  </code>
</pre>

<pre>
  <code>
    {JSON.stringify(data.psdata.featuredProductsList[1], null, 2)}
  </code>
</pre>

<pre>
  <code>
    {JSON.stringify(data.psdata.featuredProductsList[2], null, 2)}
  </code>
</pre>
<div>
  <h1>hola jost</h1>
  <Icon name="favicon" class="favicon_svg" />

  {
    data.psdata.featuredProductsList[0].images.map((image) => (
      <img src={image.large.url} alt={image.legend} />
    ))
  }

  <style>
    body {
      font-family: "Inter", sans-serif;
      background-color: #111111;
      color: #333;
    }

    .favicon_svg {
      fill: red;
      height: 20px;
      width: 10px;
    }
  </style>
</div>
