@use "../../styles/settings/variables";


.m-card-post {

  /* Default values */
  --c-text-color: var(--c-dark);
  --c-background-color: var(--c-white);

  position: relative;
  background-color: var(--c-background-color);
  color: var(--c-text-color);

}

.m-card-post:not(:has(.card-post__media-canvas)) {
  border: 1px solid var(--c-text-color);
}

.card-post__media-canvas{
  position: relative;
  overflow: hidden;

  width: 100%;
  height: auto;

}

.card-post__media-img, .card-post__media-video{
  width: 100%;
  height: fit-content;
  max-height: 550px;
}

.card-post__data{
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-post__date{
  font-size: .8em;
}
.card-post__copy{
  font-size: .8em;
  text-wrap: balance;
  opacity: .9;
}
.card-post__author{
  margin: .8em 0;
}
.card-post__title{
  margin-top: 8px;
  font-family: variables.$ff-bold;

  text-decoration: none;
  width: fit-content;
  color: var(--c-text-color);
  
  &::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--c-text-color);
    transition: .7s;

    margin-top: -4px;
  }
}

.m-card-post:hover  .card-post__title{
  color: var(--c-text-color);
  &::after{
    width: 100%;
  }
}

.card-post__category-name{

  border: 1px solid var(--c-text-color);
  background-color:  var(--c-background-color);;
  border-radius: 100px;
  color: var(--c-text-color);
  padding: 0 .9em;
  padding-bottom: .4em;
  padding-top: .7em;

  display: inline-flex;
  align-items: center;
  font-size: .8em;

  width: fit-content;
  text-decoration: none;

  &:hover{
    background-color: var(--c-text-color);
    color: var(--c-background-color);
  }
}

