@use "../../settings/variables";


.a-phone {
  --c-color: var(--c-white);

  display: inline-block;

  margin-top: 1lh;
  margin-bottom: 1lh;

  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  color: var(--c-color, #080808);
  text-decoration-line: none;

  &::before {
    content: '';

    display: inline-block;

    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;

    vertical-align: middle;

    background-image: url("#{variables.$path-assets}phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}