---
import Layout from "@/sections/Layout.astro";
import type { CollectionKey } from "astro:content";
import { getEntry } from "astro:content";
import type { Data } from "../../common/astro";
import type { homeBlogEntry } from "./infrastructure/sanity-blog-collection";
import { t } from "../../translations/global";
import { LANGUAGE } from "../../../../shared/translations/domain/languages";
import { getCollection } from "astro:content";

type Props = {
  _id: string;
};

const { _id } = Astro.props as Props;

const collection: CollectionKey = "Blog";

const { data } = (await getEntry(collection, _id)) as Data<homeBlogEntry>;

// const shared = await getCollection("shared");
---

<Layout collection={collection} _id={_id}>
  <h1>Title!</h1>
  <h2>Hola</h2>
  <p>Asoma!!!</p>

  lorem ipsum dolor sit amet, consectetur adipiscing elit. traducciones
  contacto. {t("Lo que sea", LANGUAGE.EN)}
</Layout>
