@use "../settings/variables";

p{
	margin: 0;
	font-family: variables.$ff-normal;
	font-size: var(--fs-text-regular);
	line-height: 1.4;

	p {
		margin-top: .5lh;
	}

	 .m-button {
		margin-top:.5lh;
	}
}

b, strong{
	font-family: variables.$ff-bold;
	font-weight: normal;
}

em, i{
	font-family: variables.$ff-italic;
	font-weight: normal;
}

.portable{
	color:var(--c-primary) ;
}