---
import sanityClient from "@/shared/sanity/client";
import type { LANGUAGE } from "../../../company/settings/translations";
import { getLangFromUrl } from "@/i18n/utils";
import type { Author, Category, Post, SectionCarouselPostFilter } from "@/shared/sanity/sanity.types";
import { getCollection } from "astro:content";


interface Props {
    data: SectionCarouselPostFilter & {
      category?: Category;
      author?: Author ;
    };
}



const { data } = Astro.props;


const lang = getLangFromUrl(Astro.url) ?? "";

const categoryId = data ? data.category?._id : null;
const authorId = data ? data.author?._id : null;


const dataPost = await sanityClient.fetch(`
  *[_type == "Post" && language == $lang 
    && (!defined($categoryId) || category._ref == $categoryId)
    && (!defined($authorId) || author._ref == $authorId)]{
    ...,
    _id,
    name,
    description,
    slug,
    "category": category->{
      name,
      slug
    },
    "author": author->{
      name,
      slug
    }
  }
`, { lang, categoryId: categoryId, authorId: authorId }) as Post & {
  category?: Category;
  author?: Author;
};




---



<div>
      <h1>carousel</h1>
      <pre>
        <code>
            {JSON.stringify(dataPost, null, 2)}
        </code>
      </pre>
</div>