---
import { getSlugWithLang } from '@/translations/modules/getSlugWithLang';
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '../i18n/utils';


const { listLinks } = Astro.props;

const lang = getLangFromUrl(Astro.url) ?? "";


const t = useTranslations(lang);



---
<header>
  <nav>
      <a href={getSlugWithLang("/", lang)} >{t("home")}</a>
      <a>{t("about")}</a>
      <a >{t("contact")}</a>
      <a >{t("shop")}</a>
      <a >{t("blog")}</a>
  </nav>

    {
      listLinks.map((link) => (
          <a href={link.link}>{link.lang}</a>
          <br>
      ))
  }

</header>