---
import ImageOptimized from "@/common/modules/ImageOptimized.astro";
import { getFirstPhoto } from "@/common/sanity/getOptimizedImage";
import type { SectionBase } from "@/common/types";
import { getHtmlSimpleCopy } from "@/common/utils/get-html-render";

type props = SectionBase & {
  slug: string;
};

const { theme, mediaList, copy, slug } = Astro.props as props;

const info = getHtmlSimpleCopy(copy, "h1");

if (!mediaList) return null;
const optimizedImage = getFirstPhoto(mediaList).photo;
---

<section class="o-banner-photo">
  <div class="c-banner-photo">
    <div class="banner-photo__copy" set:html={info} />
    <div class="banner-video__ctas">
      <a href={slug} class="m-button button--primary"> Link Post </a>
    </div>
  </div>

  <ImageOptimized photo={optimizedImage} class="banner-photo__background" />
</section>
